*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 3000;
  visibility: hidden;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 3000;
}


.home-body {
    font-family: Arial Black, sans-serif;
    text-align: center;
    background: rgb(1, 11, 8);
    height: 200vh;
    overscroll-behavior: none;

  
  }
  @keyframes bounce {
  
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-10px);
    }
  
    60% {
      transform: translateY(-5px);
    }
  }



.home-body {
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





  .scroll-down-container {
    display: flex;
    align-items: center;
    color: rgb(176, 176, 176);
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  .arrow {
    animation: bounce 3s infinite;
  }
  
  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(20px);
    }
  }
  @keyframes crash {
    0% {
      transform: translateY(-500px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  .play-button-container.crash {
    animation: crash .3s ease-in-out forwards;
  }
  h1 span {
    transition: 0.5s ease-out;
    color: white;
    text-shadow: 0 0 5px rgb(120, 199, 0), 0 0 20px greenyellow, 0 0 20px greenyellow;
  
  }
  
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  
  h1:hover span {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(125, 209, 0), 0 0 20px rgb(125, 209, 0), 0 0 20px rgb(125, 209, 0);
  }
  
  .home-nav a{
    cursor: pointer;
  }
  
  .home-nav{
  
    background: rgba(0, 37, 17, 0.527);
    border-radius: 0px 0px 15px 15px;
      box-shadow: 0 4px 30px black;
      backdrop-filter: blur(4px) brightness(1.1);
      -webkit-backdrop-filter: blur(4px);
      border: 2px solid rgba(255, 255, 255, 0.3);

    font-weight: 600 ;

      font-size: 18px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    }
  .home-nav a:hover{
    text-shadow: 0 0 5px rgb(19, 110, 19), 0 0 20px rgb(29, 212, 16), 0 0 40px rgb(76, 191, 14);
    font-weight: 600 ;
    transition: 0.1s ease-in;
  
  }
  
  
  
  
  html::-webkit-scrollbar {
    width: 5px;
    
  }
   
  html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 6px rgb(0, 0, 0);

  }
   
  html::-webkit-scrollbar-thumb {
    background: rgb(108, 108, 108);
    border: 3px solid rgb(0, 0, 0);

  }

  .home-body {
    font-family: Arial Black, sans-serif;
    text-align: center;
    background: rgb(1, 11, 8);
    height: 200vh;
    overscroll-behavior: none;
  
  }
  
  
  
  
  .play-btn-h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  .play-btn-home:hover{
    scale: 0.9;

  }


  .play-btn-home {
    border-radius: 8px;
    border: 1px solid transparent;
  
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    transition: 0.2s ease-in-out;

  }
  