.contact-body {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    font-family: 'Overpass Mono', monospace;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    text-align: left;

}

.home-nav-about a{
    cursor: pointer;
  }
  
  .home-nav-about{
    width: 50vw;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;


  
    background: rgba(0, 0, 0, 0.326);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 20px rgba(62, 191, 223, 0.457);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(100px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 0px;
    font-weight: 450;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

  .home-nav-about a:hover{
    text-shadow: 0 0 5px darkgreen, 0 0 20px greenyellow, 0 0 40px greenyellow;
    font-weight: 600 ;
    transition: 0.1s ease-in;
  
  }


.contact-body a {
    text-decoration: none;
    color: #f5f5f5;
}

.contact-body a:hover {
    color: #69f0ae;
}

.contact-body .hide {
    display: none;
}

.contact-body footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 75%;
    margin: auto;
    opacity: 0.2;
    border-top: 1px solid #212121;

}

.contact-body footer:hover {
    animation: fade 0.3s ease;
    opacity: 0.9;
}

.contact-body .social-media-img {
    height: 5vh;
}

.contact-body .codecell-img {
    height: 10vh;
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.9;
    }
}

/* Media queries */

@media screen and (max-width: 1295px) {
    .contact-body footer {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .contact-body footer {
        opacity: 0.9;
    }
}

.contact-body main {
    padding-top: 30px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.contact-body .title {
    font-size: 50px;
    font-weight: bold;
    padding: 1.5% 0;
}

.contact-body .title-info {
    padding-bottom: 2%;
}

.contact-body .form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

.contact-body .input-group,
.contact-body .textarea-group {
    padding: 1% 0;
}

.contact-body input,
.contact-body textarea {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 20px;
}

.contact-body input:focus,
.contact-body textarea:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #69f0ae;
}

.contact-body input::placeholder,
.contact-body textarea::placeholder {
    color: transparent;
}

.contact-body label {
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
    cursor: auto;
    transition: 0.3s ease all;
}

.contact-body input:focus ~ label,
.contact-body input:not(:placeholder-shown) ~ label {
    top: -4em;
    color: #69f0ae;
    font-size: 15px;
}

.contact-body textarea:focus ~ label,
.contact-body textarea:not(:placeholder-shown) ~ label {
    top: -10.5em;
    color: #69f0ae;
    font-size: 15px;
}

.contact-body .button-div {
    display: flex;
    justify-content: center;
}

.contact-body button {
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}

.contact-body button:hover {
    background-color: #424242;
    color: #69f0ae;
    cursor: pointer;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    .contact-body .form {
        width: 70%;
    }
}

@media screen and (max-width: 680px) {
    .contact-body .form {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .contact-body .title {
        font-size: 40px;
        padding-top: 6%;
    }

    .contact-body .title-info {
        font-size: 13px;
    }

    .contact-body .form {
        padding: 6% 4%;
        padding-top: 15%;
    }

    .contact-body .input-group,
    .contact-body .textarea-group {
        padding: 3% 0;
    }

    .contact-body input,
    .contact-body textarea {
        font-size: 15px;
    }

    .contact-body input:focus ~ label,
    .contact-body input:not(:placeholder-shown) ~ label {
        top: -3.5em;
        left: 0.1em;
    }

    .contact-body textarea:focus ~ label,
    .contact-body textarea:not(:placeholder-shown) ~ label {
        top: -8.5em;
        left: 0.2em;
    }

    .contact-body button {
        font-size: 15px;
    }
}
