/* src/UserActivityHeatmap.css */
.user-activity-container {
  width: 899px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 25px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  border-radius: 20px;
  margin-top: 20px;
}

.user-activity-heatmap {
  display: flex;
  align-items: center;
  justify-content: self-start;
  flex-wrap: wrap;
  gap: 5px;
}

.month {
  margin-bottom: 20px;
  margin-right: 20px;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
  grid-template-rows: repeat(5, 1fr); /* 5 rows for each week in a month */
  gap: 2px;
}

.day {
  width: 15px;
  height: 15px;
  background-color: rgb(77, 77, 77);
}

.visited {
  background-color: #00ff08;
}
