
:root {
    --locust: #a9b18f;
    --hunter-green: #101812;
    --siam: #637055;
    --battleship-gray: #819671;
    --lunar-green: #374635;
    --hemlock: #54533a;
    --cape-cod: #495454;
    --shadow: #8c744c;
    --gunsmoke: #848c8c;
    --slate-blue: #6b7b8d;
    --saffron-yellow: #ffbf00;
    --aubergine: #3d2737;
    --terracotta: #d86a77;
    --azure-blue: #0077b6;
    --mauve: #8c738b;
    --tangerine: #ff6b35;
    --plum: #8a2c62;
    --turquoise: #00a19d;
    --dusty-rose: #d58e76;
    --dark-slate-blue: #3c3744;
    --dark-slate-gray: #2f3e46;
    --dark-slate-green: #526760;
    --dark-slate-blue-2: #4a445f;
    --dark-slate-gray-2: #3e4c5e;
    --dark-slate-green-2: #5e6f64;
    --dark-slate-blue-3: #4a445f;
}
