
.Auth{
    width: 850px;
    height: 520px;
    display: flex;
    flex-direction:row;
    gap: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.151);
    background-color: white;
    
}
h4{
    margin: 20px 0 !important;
}
.Auth form{
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.formgroup{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
input{
    height: 20px !important;
}

input:focus{
    outline-color: green !important;
}

button{
    background-color: teal !important;
    height: 45px !important;
}
video{
    width: 47%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
}
span{
    text-align: start;
    padding: 10px !important;
    font-size: 12px;
}
p{
    color: gray;
}
.Auth {
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
body {
    background: linear-gradient(black, #333);
}
